<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "1"
    version     = "0.0.1" >

<!-- versionCode is optional and Android only -->

  <name>Wikitourist</name>

  <description>
      Check out places from Wikipedia near you!
  </description>

  <author href="http://github.com/lbraun/">
      Lucas Braun
  </author>

  <plugin name="cordova-plugin-statusbar"  />
  <plugin name="cordova-plugin-whitelist" spec="1" />

  <preference name="StatusBarStyle" value="lightcontent" />

  <!-- App requested permission -->
  <preference name="permissions" value="none"/>

  <allow-navigation href="*" />
  <allow-intent href="*" />
  <access origin="*" />

</widget>
